h2 {
  display: flex;
  justify-content: center;
}

.titleTrending {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

.containerList {
  margin-left: 10px;
}

.containerMovies {
  margin-top: 10px;
}

.containerPosters {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.posterItem {
  width: 24%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posterImage {
  width: 100%;
  height: auto;
}
