li {
  list-style: none;
}

.containerCast {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.castItem {
  width: 24%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.actorImage {
  width: 100%;
  height: auto;
}
