ul {
  padding: 0;
  list-style: none;
}

.containerSearch {
  padding-left: 25px;
}

.BtnSearch {
  margin-left: 10px;
}

.containerPosters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.posterItem {
  width: 24%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posterImage {
  width: 100%;
  height: auto;
}

.posterLink {
  text-decoration: none;
  color: black;
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.btnSearch {
  background-color: #333;
  color: #fff;
  border: none;
  margin: 5px;
  width: 80px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;
  border-radius: 999999px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.1s;
}

.btnSearch:active {
  transform: scale(0.95);
}

.labelSearch {
  width: 300px;
  height: 30px;
  font-size: large;
}
